#toDiv-NewMessage {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1em;
    font-size: 12px;
}

#toDiv-NewMessage > p {
    color: var(--sub-title-color);
    font-family: "SF UI Display Bold";
    font-size: 14px;
    margin-bottom: 14px;
}

#recipDiv-NewMessage {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    overflow-x: scroll;
    margin-right: 1em;
}

#recipDiv-NewMessage > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: rgba(0,122,255,0.8); */
    margin: 0 10px 15px 3px;
    text-overflow: ellipsis;
}

#recipDiv-NewMessage > div:hover {
    background-color: rgba(0, 122, 255, 0.8);
}

#recipDiv-NewMessage > div > p {
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    white-space: nowrap;
}

#recipDiv-NewMessage > div > p:hover {
    background: rgba(0, 122, 255, 0.8);
}

#convoDetailsDiv-NewMessage {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1em;
    margin-left: 0.5em;
}

#convoDetailsDiv-NewMessage > p {
    color: #007aff;
    font-family: "SF UI Display Light";
    font-size: 15px;
    margin-bottom: 13px;
}

#convoDetailsDiv-NewMessage > p:hover {
    color: #1a55c2;
    cursor: pointer;
}

#recipDiv-NewMessage {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    margin-bottom: 9px;
}

#newMessageRecipInput {
    outline: none;
    border: none;
    flex-grow: 1;
    font-family: "SF UI Display Bold";
    font-size: 14px;
    color: var(--main-title-color);
    background-color: var(--secondary-color);
    transition: ease-in-out 0.1s;
}

.newMessageRecipInputBlurred {
    background-color: var(--secondary-blurred-color) !important;
}

#closeNewChatDiv {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1em;
    margin-left: 0.5em;
}

#closeNewChatDiv > p {
    color: #007aff;
    font-family: "SF UI Display Light";
    font-size: 15px;
    margin-bottom: 13px;
}

#closeNewChatDiv > p:hover {
    color: #1a55c2;
    cursor: pointer;
}
