.TopTitle{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #4c4c4c;
    width: 100%;
}

.TopTitle > h1 {
    color: white;
    font-family: "SF UI Display Bold";
    font-size: 24px;
    margin: 0;
}