.RightCol-Set {
    height: 100%;
    min-height: 100%;
    flex-grow: 1;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 250px;
    border-radius: 0px 0px 5px 0px;
}
