.BottomLeftNav-Mes {
    height: 44px;
    min-height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    border-top: 1px solid gray;
}

#settingsIconLink {
    height: 25px;
    transition: transform 0.7s;
}

#settingsIconLink:hover {
    transform: rotate(180deg);
}

#settingsIcon {
    height: 25px;
}

#logoutButton{
    color: aqua;
}