.SettingTitle{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 35px;
}

.SettingTitle > h2 {
    color: white;
    font-family: "SF UI Display Bold";
    font-size: 21px;
    /* border-bottom: 1px solid gray; */
    padding-bottom: 1px;
    margin: 0;
}

.SettingTitle > h3 {
    color: #b5b5b5;
    font-family: "SF UI Display Bold";
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
}