.ServerSettingTitle {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 35px;
}

.ServerSettingTitle > h2 {
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: 21px;
    /* border-bottom: 1px solid gray; */
    padding-bottom: 1px;
    margin: 0;
    margin-bottom: 7px;
}

.ServerSettingTitle > h3 {
    color: var(--sub-title-color);
    font-family: "SF UI Display Bold";
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
}

.ServerSettingTitle > h3:first-of-type {
    margin-bottom: 15px;
}

.ServerSettingTitle > h3 span {
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: 18px;
    margin-right: 7px;
}
