.BottomLeftNav{
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    border-top: 1px solid gray;
}

#settingsIconLink{
    height: 25px;
    transition: transform .7s;
}

#settingsIconLink:hover{
    transform: rotate(180deg);
}


#settingsIcon{
    height: 25px;
}