.LeftTopNav {
    height: 35px;
    width: 100%;
    background-color: #323232;
    display: flex;
    justify-content: center; 
}

#leftTopSearch {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#leftTopButton {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#messageSearch[type='text'] {
    height: 19px;
    margin-bottom: 8px;
    background-color: #545454;
    background-image: url('../../../../../assets/search-icon.png');
    background-position: 3px 4px;
    background-size: 17px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    width: 80%;
    padding: 3px 5px 3px 25px;
    font-family: 'SF UI Display Bold';
    color: white;
    outline: none;
}

#messageSearch[type='text']:focus {
    border: 2px solid #3c7ca8;
}

#newMessage{
    background-color: #848484;
    padding: 1px 7px 2px 9px;
    border-radius: 3px;
    margin-bottom: 8px;
}

#composeIcon{
    height: 17px;
}