.Setting {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 0 5px 0 30px;
}

#SettingDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#SettingDiv>h1 {
    font-family: 'SF UI Display Bold';
    font-size: 20px;
    margin: 0;
    color: var(--main-title-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

#SettingDiv>h2 {
    font-family: 'SF UI Display Bold';
    font-size: 15px;
    margin: 0;
    color: var(--sub-title-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}