.LeftTopNav-Set {
    height: 35px;
    min-height: 35px;
    width: 100%;
    background-color: var(--sidebar-color);
    display: flex;
    justify-content: center;
}

#leftTopSearch {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#messageSearch[type="text"] {
    height: 19px;
    margin-bottom: 8px;
    background-image: url("../../../../../assets/icons/search-icon.png");
    background-position: 3px 4px;
    background-size: 17px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    width: 80%;
    padding: 3px 5px 3px 25px;
    font-family: "SF UI Display Bold";
    color: var(--main-title-color);
    outline: none;
}

#messageSearch[type="text"]:focus {
    border: 1px solid #3c7ca8;
}
