.ServerInputTitle {
    display: flex;
    flex-direction: column;
    margin: 15px 35px 0 35px;
}

.ServerInputTitle > h2 {
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: calc(var(--message-font-size) + 7px);
    /* border-bottom: 1px solid gray; */
    padding-bottom: 1px;
    margin: 0;
}

.ServerInputTitle > h3 {
    color: #b5b5b5;
    font-family: "SF UI Display Bold";
    font-size: calc(var(--message-font-size) + 4px);
    margin: 0;
    margin-left: 10px;
}

.ServerInputTitle > input {
    height: 25px;
    background-color: var(--background-color);
    border: none;
    outline: none;
    font-family: "SF UI Display Bold";
    font-size: calc(var(--message-font-size) + 1px);
    color: var(--sub-title-color);
    border-radius: 20px;
    padding: 3px 12px 3px 12px;
    transition: ease-in 0.12s;
}

.ServerInputTitle > input:focus {
    outline: none;
    background-color: var(--sub-title-color);
    color: var(--secondary-color);
}
