.giphy-grid {
    height: 40vh;
    min-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 6px;
    background-color: var(--background-color);
    /* animation: slideUpGIFS .1s ease-in-out 1 forwards; */
}

.giphy-grid::-webkit-scrollbar {
    display: initial;
    width: 7px;
}

.giphy-grid::-webkit-scrollbar-thumb {
    background-color: var(--sub-title-color) !important;
    border-radius: 5px;
}

@keyframes slideUpGIFS {
    0% {
        height: 0vh;
        min-height: 0vh;
    }

    100% {
        height: 40vh;
        min-height: 40vh;
    }
}
