.RightBottomNav {
    height: auto;
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    z-index: 3;
    transition: ease-in-out 0.1s;
    border-radius: 0 0 5px 0;
}

.RightBottomNavBlurred {
    background-color: var(--secondary-blurred-color) !important;
}

#leftAttachmentButton {
    width: 20px;
    height: 20px;
    background-color: var(--attachment-button-color);
    margin-left: 10px;
    padding: 3px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftAttachmentButton:hover {
    -webkit-animation: swingY 1s ease;
    animation: swingY 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#attachIcon {
    fill: var(--attachment-clip-color);
    height: 17px;
}

#giphyFullLogo {
    height: 26px;
    width: auto;
    /* background-color: var(--attachment-button-color); */
    border-radius: 10px;
    margin-left: 7px;
    padding: 5px;
    /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4); */
}

#closeGIFSelector {
    margin: 0 !important;
    height: 28px;
    width: 28px;
    transition: ease-in-out 0.1s;
    background-color: var(--attachment-button-color);
    border-radius: 50%;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeGIFSelector > img {
    object-fit: cover;
    height: 60%;
    width: 60%;
    transition: all 0.2s ease-in-out;
    filter: invert(17%) sepia(91%) saturate(4566%) hue-rotate(355deg) brightness(113%) contrast(125%);
}

#closeGIFSelector:hover {
    /* animation: shakeButton 0.75s;
    animation-iteration-count: infinite; */
    cursor: pointer;
}

#messageField {
    flex-grow: 1;
    min-height: 45px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#messageFieldInput[type="text"] {
    height: 19px;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: none;
    flex-grow: 1;
    padding: 3px 35px 3px 8px;
    font-family: "SF UI Display Bold";
    font-size: 15px;
    color: var(--right-primary-color);
    outline: none;
    border: 1px solid var(--right-secondary-color);
    margin: 0px 2px 0px 7px;
    background-color: var(--secondary-color);
}

*::placeholder {
    color: var(--placeholder-color);
}

#rightBottomButton {
    margin-right: 2px;
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendIcon {
    margin-bottom: 2px;
    height: 28px;
    transition: ease-in-out 0.1s;
    fill: var(--send-button-color);
}

#arrow {
    fill: none;
    stroke: var(--send-button-arrow-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 80px;
}

#emojiPickerButton {
    position: absolute;
    right: 7px;
    fill: var(--right-secondary-color);
    transition: ease-in-out 0.1s;
}

#emojiPickerButton:hover {
    cursor: pointer;
    opacity: 0.65;
}

@-webkit-keyframes swingY {
    15% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }

    30% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    65% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-1px);
    }

    80% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes swingY {
    15% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }

    30% {
        -webkit-transform: translateY(-px);
        transform: translateY(-3px);
    }

    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    65% {
        -webkit-transform: translateY(-1px);
        transform: translateY(1px);
    }

    80% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#sendIcon:hover {
    -webkit-animation: swingY 1s ease;
    animation: swingY 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#recordVoiceMessage {
    fill: var(--right-secondary-color);
}

#recordVoiceMessage:hover {
    cursor: pointer;
}

.bar1Hover {
    animation: bar1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar2Hover {
    animation: bar2;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar3Hover {
    animation: bar3;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar4Hover {
    animation: bar4;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar5Hover {
    animation: bar5;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar6Hover {
    animation: bar6;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes bar1 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(3.2);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes bar2 {
    0% {
        transform: scaleY(0.8);
    }

    50% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(0.8);
    }
}

@keyframes bar3 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.4);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes bar4 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2.5);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes bar5 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.6);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes bar6 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(3.2);
    }

    100% {
        transform: scaleY(1);
    }
}

/* Record Message  */
#recordMessageDiv {
    flex-grow: 1;
    height: 45px;
    display: flex;
}

#recordingVisWrap {
    border-radius: 15px;
    height: 30px;
    width: 98%;
    margin: auto;
    background-color: var(--attachment-button-color);
    display: flex;
}

#recordingVis {
    flex-grow: 1;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#recordingLengthDiv {
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
}

#recordingLengthDiv p {
    font-family: "SF UI Display Bold";
    font-size: 14px;
    color: var(--main-title-color);
    margin: 0;
}

#stopVoiceMessage {
    fill: red;
}

#stopVoiceCircle {
    fill: var(--main-title-color);
}

#newAttachmentsContainer {
    max-width: 40vw;
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aNewAttachmentDiv {
    min-width: auto;
    width: auto;
    height: auto;
    background-color: var(--right-accent-title-color);
    margin: 5px;
    margin-right: 0px;
    padding: 3px 6px 3px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.aNewAttachmentDiv > div {
    height: 70px;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.aNewAttachmentDiv > div > p {
    min-height: 10px;
    margin: 1px 0 0 0;
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: 12px;
    max-width: 100px;
    overflow: scroll;
    text-overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

.aNewAttachmentRemoveButton {
    height: 10px;
    width: 10px;
    user-select: none;
}

.aNewAttachmentRemoveButton:hover {
    filter: invert(100%);
}

.aNewAttachment {
    object-fit: cover;
    height: 80%;
    width: auto;
    border-radius: 5px;
}

.aNewAttachment:hover {
    cursor: pointer;
}

.RightBottomNav {
    height: auto !important;
}

.cantSupportPreview {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-title-color);
    border-radius: 7px;
    padding: 0 4px;
}

.cantSupportPreview:hover {
    cursor: pointer;
}

.cantSupportPreview > p {
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: 12px;
    margin: 0;
}

@media (max-width: 1100px) {
    #newAttachmentsContainer {
        max-width: 30vw;
    }
}

@media (max-width: 900px) {
    #newAttachmentsContainer {
        max-width: 17vw;
    }
}

@media (max-width: 750px) {
    #newAttachmentsContainer {
        max-width: 13vw;
    }
}
