.RightBottomNav {
    height: 45px;
    min-height: 45px;
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    z-index: 2;
}

#leftAttachmentButton {
    width: 20px;
    height: 20px;
    background-color: grey;
    margin-left: 10px;
    padding: 3px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftAttachmentButton:hover {
    -webkit-animation: swingY 1s ease;
    animation: swingY 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#attachIcon {
    fill: white;
    height: 17px;
}

#messageField {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageFieldInput[type="text"] {
    height: 19px;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: none;
    width: 97%;
    padding: 3px 35px 3px 8px;
    font-family: "SF UI Display Bold";
    font-size: 15px;
    color: var(--main-title-color);
    outline: none;
    border: 1px solid var(--sub-title-color);
    margin: 0px 2px 0px 12px;
    background-color: var(--secondary-color);
}

*::placeholder {
    color: #939292;
}

#rightBottomButton {
    margin-right: 2px;
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendIcon {
    margin-bottom: 2px;
    height: 28px;
    transition: all 0.3s ease;
}

#emojiPickerButton {
    position: absolute;
    right: 54px;
    fill: var(--sub-title-color);
    transition: ease-in-out 0.1s;
}

#emojiPickerButton:hover {
    cursor: pointer;
    opacity: 0.65;
}

@-webkit-keyframes swingY {
    15% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    30% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    65% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-1px);
    }
    80% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swingY {
    15% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    30% {
        -webkit-transform: translateY(-px);
        transform: translateY(-3px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    65% {
        -webkit-transform: translateY(-1px);
        transform: translateY(1px);
    }
    80% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
#sendIcon:hover {
    -webkit-animation: swingY 1s ease;
    animation: swingY 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#recordVoiceMessage {
    fill: var(--sub-title-color);
}

#recordVoiceMessage:hover {
    cursor: pointer;
}

.bar1Hover {
    animation: bar1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar2Hover {
    animation: bar2;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar3Hover {
    animation: bar3;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar4Hover {
    animation: bar4;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar5Hover {
    animation: bar5;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.bar6Hover {
    animation: bar6;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes bar1 {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(3.2);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes bar2 {
    0% {
        transform: scaleY(0.8);
    }
    50% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(0.8);
    }
}

@keyframes bar3 {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes bar4 {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2.5);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes bar5 {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.6);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes bar6 {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(3.2);
    }
    100% {
        transform: scaleY(1);
    }
}
