.PasswordInputTitle {
    display: flex;
    flex-direction: column;
    margin: 15px 35px 0 35px;
}

.PasswordInputTitle > h2 {
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: 21px;
    /* border-bottom: 1px solid gray; */
    padding-bottom: 1px;
    margin: 0;
}

.PasswordInputTitle > h3 {
    color: #b5b5b5;
    font-family: "SF UI Display Bold";
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
}

.PasswordInputTitle > input {
    height: 25px;
    background-color: var(--background-color);
    border: none;
    outline: none;
    font-family: "SF UI Display Bold";
    font-size: 15px;
    color: var(--sub-title-color);
    border-radius: 20px;
    padding: 3px 47px 3px 12px;
    transition: ease-in 0.12s;
}

.PasswordInputTitle > input:focus {
    outline: none;
    background-color: var(--sub-title-color);
    color: var(--secondary-color);
}
