#messageView-DetailsDisplay {
    flex-grow: 1;
    background-color: var(--background-color);
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 0 15px 0;
    justify-content: center;
    align-items: center;
}

#messageView-DetailsDisplay::-webkit-scrollbar {
    display: initial;
    width: 7px;
    background-color: var(--background-color) !important;
    margin-right: 2px;
    display: none;
}

#messageView-DetailsDisplay::-webkit-scrollbar-thumb {
    background-color: var(--sub-title-color) !important;
    border-radius: 5px;
}

#detailContactsContainer {
    height: auto;
    width: 92%;
    margin: 15px auto;
    background-color: var(--secondary-color);
    padding: 0px 0;
    border-radius: 15px;
}

#showMore {
    height: 42px;
    max-height: 42px;
    min-height: 42px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: background-color ease-in-out 0.1s;
}

#showMore:hover {
    background-color: var(--right-accent-title-color);
    cursor: pointer;
}

#showMore:hover > div > p {
    color: var(--main-title-color);
}

#showMoreWrap {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

#showMoreWrap > p {
    font-family: "SF UI Display Bold";
    font-size: var(--message-font-size);
    color: var(--right-accent-title-color);
    transition: color ease-in-out 0.1s;
}

#addContact {
    height: 42px;
    max-height: 42px;
    min-height: 42px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#addContact:hover {
    cursor: pointer;
}

#addContactWrap {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    transition: background-color ease-in-out 0.1s;
    border-radius: 15px;
    padding: 0 13px;
}

#addContactWrap:hover {
    background-color: var(--right-accent-title-color);
}

#addContactWrap:hover #addContactTitle {
    color: var(--main-title-color) !important;
}

#addContactWrap > p {
    font-family: "SF UI Display Bold";
    font-size: var(--message-font-size);
    color: var(--right-accent-title-color);
    transition: color ease-in-out 0.1s;
}

/* #addContactWrap > p:hover {
    opacity: 0.65;
} */

#muteChat {
    height: 42px;
    max-height: 42px;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    margin-bottom: 8px;
    border-radius: 15px;
    width: 92%;
    margin: 0 auto;
}

#muteChatWrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 0 13px;
    border-radius: 15px;
    transition: background-color ease-in-out 0.1s;
}

#muteChatWrap:hover {
    background-color: var(--right-accent-title-color);
}

#muteChatLeft {
    display: flex;
    align-items: center;
}

#muteChatLeft > p {
    color: var(--main-title-color);
    font-family: "SF UI Display Bold";
    font-size: var(--message-font-size);
}

#muteChatRight {
    display: flex;
    align-items: center;
}

/* Switch Style */
.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: rgb(216, 216, 216);
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
}

.form-switch input {
    display: none;
}

.form-switch input:checked + i {
    background-color: #4bd763;
}

.form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}

#recentImagesContainer {
    width: 92%;
    max-width: 92%;
    height: auto;
    background-color: var(--secondary-color);
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px 0;
}

#recentImagesContainer > p {
    font-family: "SF UI Display Bold";
    font-size: 14px;
    color: var(--main-title-color);
    margin: 5px 0;
}

#recentImages {
    width: calc(100% - 50px);
    height: 100%;
    column-count: 4;
    column-gap: 15px;
    /* padding: 30px 25px; */
    /* margin: 30px 25px; */
    overflow-x: visible;
    column-fill: balance;
    margin: 0;
}

.aChatAttachment {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 15px;
    page-break-inside: avoid;
    break-inside: avoid-column;
    border-radius: 10px;
    padding: 5px;
    transition: background-color ease-in-out 0.1s;
}

.aChatAttachment:hover {
    background-color: var(--right-accent-title-color);
    cursor: pointer;
}

.aChatAttachment:hover > .aAudio {
    background-color: var(--right-accent-title-color);
}

.aChatAttachment:hover > .aUnsupported {
    background-color: var(--right-accent-title-color);
}

.aChatAttachment > div > p {
    margin: 6px 0 3px 0;
    font-family: "SF UI Display Bold";
    font-size: var(--message-font-size);
    color: var(--main-title-color);
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.aChatAttachment > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 200px; */
    width: 100%;
}

.aChatAttachment > div > img {
    max-width: 100%;
    max-height: 100%;
    /* max-height: 200px; */
    height: auto;
    border-radius: 10px;
}

.aChatAttachment > div > video {
    max-width: 100%;
    max-height: 100%;
    /* max-height: 200px; */
    height: auto;
    border-radius: 10px;
}

.aUnsupported {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    padding: 6px 5px;
    transition: background-color ease-in-out 0.1s;
}

.aUnsupported > p {
    margin: 0;
    padding: 10px 0;
    font-family: "SF UI Display Bold";
    font-size: 14px;
    color: var(--main-title-color);
}

@media (max-width: 900px) {
    #recentImages {
        column-count: 3;
    }

    .aChatAttachment > p {
        font-size: calc(var(--message-font-size) - 2px);
    }

    #bubbleChatTitle > p {
        font-size: 18px !important;
    }
}

#participantsBubblesContainer {
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

#aChatHandleBubble > text {
    fill: white;
    font-family: "SF Pro Rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#bubbleChatTitle {
    max-width: 85%;
    overflow: scroll;
    text-overflow: clip;
    white-space: nowrap;
}

#bubbleChatTitle > p {
    margin: 0 auto;
    margin-top: 13px;
    font-family: "SF UI Display Bold";
    font-size: 24px;
    color: var(--main-title-color);
    max-height: 30px;
    width: 100%;
}
