#FontSizeSlider {
    min-height: 100px;
    max-height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#fontSliderInput {
    width: 80%;
}

#fontSliderInput {
    -webkit-appearance: none;
    background: transparent;
    --fontSliderProgressPercent: 0%;
}

#fontSliderInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* border: 1px solid #000000; */
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--sub-title-color);
    cursor: pointer;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

#fontSliderInput::-webkit-slider-thumb:hover {
    cursor: pointer;
}

#fontSliderInput::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background-image: linear-gradient(
        90deg,
        var(--main-title-color) var(--fontSliderProgressPercent),
        var(--secondary-color) var(--fontSliderProgressPercent)
    );
    border-radius: 2.5px;
}

.exampleFont {
    color: var(--main-title-color);
}

#currentSize {
    color: var(--main-title-color);
    font-size: var(--message-font-size);
    font-family: "SF UI Display Bold";
}
