@font-face {
    font-family: "SF UI Display Light";
    src: url("./fonts/SF-UI-Display-Light.woff2") format("woff2"),
        url("./fonts/SF-UI-Display-Light.woff") format("woff");
}

@font-face {
    font-family: "SF UI Display Bold";
    src: url("./fonts/SF-UI-Display-Bold.woff2") format("woff2"), url("./fonts/SF-UI-Display-Bold.woff") format("woff");
}

@font-face {
    font-family: "SF UI Display Black";
    src: url("./fonts/SF-UI-Display-Black.woff2") format("woff2"),
        url("./fonts/SF-UI-Display-Black.woff") format("woff");
}

/* Rounded Font */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap");

/* *{
  outline: 1px solid red;
} */

*::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
}

body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    border-radius: 25px !important;
    background: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
    /* Focused*/
    --blue-color: #0349cd;
    --blue-title-color: #007aff;
    --main-title-color: #000;
    --sub-title-color: #454545;
    --chat-label-color: #797878;
    --background-color: #fff;
    --secondary-color: #f8f8f8;
    --sidebar-color: #dbdbdb;
    --return-button-color: #000;
    --search-background-color: #bebebe;
    --incoming-message-color: #bcbcbc;
    --outgoing-message-color: #006ee4;
    --placeholder-color: #424040;

    /* Blurred */
    --secondary-blurred-color: #e4e4e4;
    --sidebar-blurred-color: #bbbbbb;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
    /* Focused*/
    --blue-color: #0349cd;
    --blue-title-color: #007aff;
    --main-title-color: #fff;
    --sub-title-color: #b5b5b5;
    --chat-label-color: #797878;
    --background-color: #1e1e1e;
    --secondary-color: #3a3a3a;
    --sidebar-color: #323232;
    --slight-dark: #454545;
    --return-button-color: #fff;
    --search-background-color: #545454;
    --incoming-message-color: #6b6b6b;
    --outgoing-message-color: #006ee4;
    --placeholder-color: #424040;

    /* Blurred */
    --secondary-blurred-color: #1e1e1e;
    --sidebar-blurred-color: #242424;
}
