.SettingTitles {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: 1px solid grey;
    overflow-y: auto;
    background-color: var(--sidebar-color);
    transition: ease-in-out 0.1s;
}

.active {
    background-color: var(--blue-color);
}

.noDrag {
    -webkit-user-drag: none;
}
